In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transformed_evictions_df.csv')
df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67184 entries, 0 to 67183
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Docket_Number_             67184 non-null  int64
 1   Eviction_Address           67184 non-null  object
 2   Executed_Date              67184 non-null  object
 3   Property_Type              67184 non-null  object
 4   Borough                    67184 non-null  object
 5   Eviction_Postcode          67184 non-null  int64
 6   Ejectment                  67184 non-null  object
 7   Eviction/Legal_Possession  67184 non-null  object
 8   Latitude                   60763 non-null  float64
 9   Longitude                  60763 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 5.1+ MB

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude
0,352435,319 WEST 94TH STREET,2019-03-25,Residential,MANHATTAN,10025,Not an Ejectment,Possession,40.794205,-73.974734
1,379048,2332 CRESTON AVE,2017-04-25,Residential,BRONX,10468,Not an Ejectment,Possession,40.858643,-73.900402
2,320691,2670 BAINBRIDGE AVENUE,2017-02-21,Residential,BRONX,10458,Not an Ejectment,Possession,40.865470,-73.891472
3,115775,18-24 25TH ROAD,2019-04-23,Residential,QUEENS,11102,Not an Ejectment,Possession,40.774861,-73.926140
4,86395,3005 EASTCHESTER RO AD,2018-11-08,Commercial,BRONX,10469,Not an Ejectment,Possession,40.869607,-73.842766
...,...,...,...,...,...,...,...,...,...,...
67179,68450,182 ARLINGTON AVENUE,2017-03-29,Residential,STATEN ISLAND,10303,Not an Ejectment,Possession,40.635485,-74.167531
67180,81749,600 WEST 136TH STREE T,2017-09-27,Residential,MANHATTAN,10031,Not an Ejectment,Possession,40.820935,-73.954996
67181,208636,115 LINCOLN ROAD,2020-01-09,Residential,BROOKLYN,11225,Not an Ejectment,Possession,40.661077,-73.958799
67182,83318,1131-1133 OGDEN AVEN UE,2017-12-13,Residential,BRONX,10452,Not an Ejectment,Possession,40.836286,-73.927496
67183,59510,5 FLEET WALK,2017-08-02,Residential,BROOKLYN,11201,Not an Ejectment,Possession,40.695529,-73.981230

In [4]:
#convert date executed type object into datetime
df['Executed_Date']= pd.to_datetime(df['Executed_Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67184 entries, 0 to 67183
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Docket_Number_             67184 non-null  int64
 1   Eviction_Address           67184 non-null  object
 2   Executed_Date              67184 non-null  datetime64[ns]
 3   Property_Type              67184 non-null  object
 4   Borough                    67184 non-null  object
 5   Eviction_Postcode          67184 non-null  int64
 6   Ejectment                  67184 non-null  object
 7   Eviction/Legal_Possession  67184 non-null  object
 8   Latitude                   60763 non-null  float64
 9   Longitude                  60763 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 5.1+ MB

In [23]:
evict_2017 = df.loc[(df['Executed_Date'].dt.year == 2017)]
evict_2017

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude
1,379048,2332 CRESTON AVE,2017-04-25,Residential,BRONX,10468,Not an Ejectment,Possession,40.858643,-73.900402
2,320691,2670 BAINBRIDGE AVENUE,2017-02-21,Residential,BRONX,10458,Not an Ejectment,Possession,40.865470,-73.891472
14,67648,643 EAST 222ND ST,2017-10-30,Residential,BRONX,10467,Not an Ejectment,Possession,40.886286,-73.863468
16,468806,420 E. 61ST ST AKA O NE SUTTON PLACE N.,2017-06-01,Residential,MANHATTAN,10065,Not an Ejectment,Possession,40.760575,-73.960412
18,377335,2375 SOUTHERN BOULEVARD,2017-09-19,Residential,BRONX,10460,Not an Ejectment,Possession,40.852801,-73.881834
...,...,...,...,...,...,...,...,...,...,...
67176,199218,90 EAST 18TH STREET,2017-02-23,Residential,BROOKLYN,11226,Not an Ejectment,Possession,40.648965,-73.962994
67179,68450,182 ARLINGTON AVENUE,2017-03-29,Residential,STATEN ISLAND,10303,Not an Ejectment,Possession,40.635485,-74.167531
67180,81749,600 WEST 136TH STREE T,2017-09-27,Residential,MANHATTAN,10031,Not an Ejectment,Possession,40.820935,-73.954996
67182,83318,1131-1133 OGDEN AVEN UE,2017-12-13,Residential,BRONX,10452,Not an Ejectment,Possession,40.836286,-73.927496
67183,59510,5 FLEET WALK,2017-08-02,Residential,BROOKLYN,11201,Not an Ejectment,Possession,40.695529,-73.981230